# Instruções iniciais

1 - Siga as instruções de configuração do ambiente disponibilizadas no README da aula para preparar o seu sistema.

2 - Baixar este arquivo no seu computador.

3 - Utilize o ambiente virtual (venv) configurado como o kernel para este arquivo.

In [1]:
import gdown
import os

# A url do conjunto de dados que será usada na aula
url = 'https://drive.google.com/uc?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G'
output = 'data/dataset.csv'

# Criação de uma pasta 
os.makedirs(os.path.dirname(output), exist_ok=True)

gdown.download(url, output, quiet=False)

Downloading...
From (original): https://drive.google.com/uc?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G
From (redirected): https://drive.usercontent.google.com/download?id=1aosoxH9p2Jg3YwqtzQdC6UtWStSEc92G&confirm=t&uuid=e1976e04-72d8-457c-9202-b8afcc50bfb1
To: d:\Aluno\Downloads\bigData\data\dataset.csv
100%|██████████| 650M/650M [00:40<00:00, 15.9MB/s]

'data/dataset.csv'

Assim podemos carregar o conjunto de dados que baixamos.

In [1]:
import pandas as pd

data = pd.read_csv('data/dataset.csv')
data

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:08,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:16,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:00,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/10 23:39,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/10 23:48,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/10 23:50,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/10 23:57,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/10 23:31,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

Obter Informações do dataset

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6924049 entries, 0 to 6924048
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   Timestamp           object
 1   From Bank           int64
 2   Account             object
 3   To Bank             int64
 4   Account.1           object
 5   Amount Received     float64
 6   Receiving Currency  object
 7   Amount Paid         float64
 8   Payment Currency    object
 9   Payment Format      object
 10  Is Laundering       int64
dtypes: float64(2), int64(3), object(6)
memory usage: 581.1+ MB

Verificar se existem valores Null ou NaN

In [9]:
temNulo = data.isnull().sum()
temNan = data.isna().sum

print(f"Soma de Null:\n{temNulo}\n\nSoma de NA:\n{temNan}")

Soma de Null:
Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0
dtype: int64

Soma de NA:
<bound method DataFrame.sum of          Timestamp  From Bank  Account  To Bank  Account.1  Amount Received  \
0            False      False    False    False      False            False
1            False      False    False    False      False            False
2            False      False    False    False      False            False
3            False      False    False    False      False            False
4            False      False    False    False      False            False
...            ...        ...      ...      ...        ...              ...
6924044      False      False    False    False      False            False
6924045      False      False    False    False      False            False
6924046      False      False    False    False      False            False
6924047      False      False    False    False      False            False
6924048      False      False    False    False      False            False

         Receiving Currency  Amount Paid  Payment Currency  Payment Format  \
0                     False        False             False           False
1                     False        False             False           False
2                     False        False             False           False
3                     False        False             False           False
4                     False        False             False           False
...                     ...          ...               ...             ...
6924044               False        False             False           False
6924045               False        False             False           False
6924046               False        False             False           False
6924047               False        False             False           False
6924048               False        False             False           False

         Is Laundering
0                False
1                False
2                False
3                False
4                False
...                ...
6924044          False
6924045          False
6924046          False
6924047          False
6924048          False

[6924049 rows x 11 columns]>

Selecionando as colunas de interesse

In [15]:
paid = data['Amount Paid']
received = data['Amount Received']
print(f"{paid}\n{received}")

0          3.195403e+06
1          1.858960e+03
2          5.925710e+05
3          1.232000e+01
4          2.941560e+03
               ...
6924044    3.346900e-02
6924045    1.313000e-03
6924046    1.305800e-02
6924047    4.145370e-01
6924048    3.427700e-02
Name: Amount Paid, Length: 6924049, dtype: float64
0          3.195403e+06
1          1.858960e+03
2          5.925710e+05
3          1.232000e+01
4          2.941560e+03
               ...
6924044    3.346900e-02
6924045    1.313000e-03
6924046    1.305800e-02
6924047    4.145370e-01
6924048    3.427700e-02
Name: Amount Received, Length: 6924049, dtype: float64

## Gerar o resumo estatísticos das colunas

In [17]:
data[1:3]

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
1,2022/09/01 00:21,3402,80021DAD0,3402,80021DAD0,1858.96,US Dollar,1858.96,US Dollar,Reinvestment,0
2,2022/09/01 00:00,11,8000ECA90,1120,8006AA910,592571.00,US Dollar,592571.00,US Dollar,Cheque,0

## Condição

In [22]:
data[data['Timestamp'] == "2022/09/01 00:24"]

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:24,11,8000ECA90,11,8000ECA90,3.195403e+06,US Dollar,3.195403e+06,US Dollar,Reinvestment,0
1,2022/09/01 00:24,3402,80021DAD0,3402,80021DAD0,1.858960e+03,US Dollar,1.858960e+03,US Dollar,Reinvestment,0
2,2022/09/01 00:24,11,8000ECA90,1120,8006AA910,5.925710e+05,US Dollar,5.925710e+05,US Dollar,Cheque,0
3,2022/09/01 00:24,3814,8006AD080,3814,8006AD080,1.232000e+01,US Dollar,1.232000e+01,US Dollar,Reinvestment,0
4,2022/09/01 00:24,20,8006AD530,20,8006AD530,2.941560e+03,US Dollar,2.941560e+03,US Dollar,Reinvestment,0
...,...,...,...,...,...,...,...,...,...,...,...
6924044,2022/09/01 00:24,71696,81B2518F1,71528,81C0482E1,3.346900e-02,Bitcoin,3.346900e-02,Bitcoin,Bitcoin,0
6924045,2022/09/01 00:24,271241,81B567481,173457,81C0DA751,1.313000e-03,Bitcoin,1.313000e-03,Bitcoin,Bitcoin,0
6924046,2022/09/01 00:24,271241,81B567481,173457,81C0DA751,1.305800e-02,Bitcoin,1.305800e-02,Bitcoin,Bitcoin,0
6924047,2022/09/01 00:24,170558,81A2206B1,275798,81C1D5CA1,4.145370e-01,Bitcoin,4.145370e-01,Bitcoin,Bitcoin,0
6924048,2022/09/01 00:24,170558,81A2206B1,275798,81C1D5CA1,3.427700e-02,Bitcoin,3.427700e-02,Bitcoin,Bitcoin,0

## Define condição

In [27]:
data[data['From Bank'] == 11]

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:24,11,8000ECA90,11,8000ECA90,3195403.00,US Dollar,3195403.00,US Dollar,Reinvestment,0
2,2022/09/01 00:24,11,8000ECA90,1120,8006AA910,592571.00,US Dollar,592571.00,US Dollar,Cheque,0
6,2022/09/01 00:24,11,800059120,1217,8006AD4E0,60562.00,US Dollar,60562.00,US Dollar,ACH,0
7,2022/09/01 00:24,11,8000ECA90,11,8000ECA90,22.97,US Dollar,22.97,US Dollar,Reinvestment,0
59,2022/09/01 00:24,11,800BA4C30,231039,80DE8B440,152.00,US Dollar,152.00,US Dollar,Credit Card,0
...,...,...,...,...,...,...,...,...,...,...,...
6923318,2022/09/01 00:24,11,811DA6010,149205,8126CE3A0,6484.34,Brazil Real,6484.34,Brazil Real,Cash,0
6923322,2022/09/01 00:24,11,812348120,11,812865970,12.10,Brazil Real,12.10,Brazil Real,Cheque,0
6923323,2022/09/01 00:24,11,812348120,11,812865970,19.96,Brazil Real,19.96,Brazil Real,Credit Card,0
6923368,2022/09/01 00:24,11,8120DF6A0,11,812EB8100,733.81,Brazil Real,733.81,Brazil Real,Cheque,0
6923369,2022/09/01 00:24,11,8120DF6A0,11,812EB8100,5103.78,Brazil Real,5103.78,Brazil Real,Credit Card,0

## Atende aos índices específicos da condição

In [29]:
data[data['From Bank'] == 11].head(3)

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:24,11,8000ECA90,11,8000ECA90,3195403.0,US Dollar,3195403.0,US Dollar,Reinvestment,0
2,2022/09/01 00:24,11,8000ECA90,1120,8006AA910,592571.0,US Dollar,592571.0,US Dollar,Cheque,0
6,2022/09/01 00:24,11,800059120,1217,8006AD4E0,60562.0,US Dollar,60562.0,US Dollar,ACH,0

## Descrição estatística (total, estatísticas)

In [30]:
paid.describe()

count    6.924049e+06
mean     4.676036e+06
std      1.544099e+09
min      1.000000e-06
25%      1.753800e+02
50%      1.399440e+03
75%      1.222687e+04
max      3.644854e+12
Name: Amount Paid, dtype: float64